.container {
  background-color: #ffc5ed;
  border-radius: 1rem;

}

.navbar {
  background-color: #ffc5ed;

}

body {
  background-color: #89b6ff;
}

.card {
  background-size: cover;
  border-radius: 1rem;

}

.pedidos {
  background-color: #ffc5ed;
}

.badge {
  background-color: #89b6ff;
}

.card {
  background-color: #89b6ff;
}

.card-img-top {
  border-radius: 1rem;
}

.total {
  position: absolute;
  text-align: right;
  right: 10px;
}

.modal-content {
  border-radius: 1rem;
}

.navbar-collapse{
  justify-content: end;
}